@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-4">
            <img src="https://plus.unsplash.com/premium_photo-1670601440146-3b33dfcd7e17?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDh8fHBpenphfGVufDB8fHx8MTY5OTk4OTM3Nw&ixlib=rb-4.0.3&q=80&w=400" alt="Login Icon" class="rounded-circle" style="width: 100px; height: 100px;">
        </div>
        <h3 class="text-center mb-3">Login</h3>
        <form method="post">
            <div class="form-group mb-3">
                <input asp-for="Usuario" type="text" class="form-control" placeholder="Usuário" />
            </div>
            <div class="form-group mb-3">
                <input asp-for="Senha" type="password" class="form-control" placeholder="Senha" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <a href="/Account/EsqueciMinhaSenha/Index" class="d-block mb-2 bi bi-person-bounding-box"> Esqueci minha senha</a>
            <a href="/Account/CadastrarUsuario/Index" class="d-block bi bi-person-plus"> Cadastrar-se</a>
        </div>
    </div>
</div>